@import url("http://openfontlibrary.org/face/designosaur");
/* Designosaur font by Sergiy S. Tkachenko used under the terms of
 * CC-BY license:
 * http://openfontlibrary.org/en/font/designosaur#Designosaur-Regular
 * */

body
{
    font-family: Sans-serif;
    font-family: Sans-serif;
    background: -o-linear-gradient(bottom, #FFFFFF 0%, #FAFAFA 100%);
    background: -moz-linear-gradient(bottom, #FFFFFF 0%, #FAFAFA 100%);
    background: -webkit-linear-gradient(bottom, #FFFFFF 0%, #FAFAFA 100%);
    background: -ms-linear-gradient(bottom, #FFFFFF 0%, #FAFAFA 100%);
    background: linear-gradient(to bottom, #FFFFFF 0%, #FAFAFA 100%);
    min-height: 30em;
}

a.home_url img {
    vertical-align: middle;
}

img.logo_img
{
    vertical-align: middle;
    border: 0;
    width: 1.5em;
    padding-right: .1em;
    padding-left: 0.01em;
}

div#header_div {
    height: 4.5em;
    display: block;
    padding-top: 0.1em;
    padding-bottom: 0.5em;
    padding-left: 12.5%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -1.5em;
    margin-left: -.5em;
    margin-bottom: 0.2em;
    background: rgb(167,207,223); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(167,207,223,1) 0%, rgba(35,83,138,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(167,207,223,1)), color-stop(100%,rgba(35,83,138,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=0 ); /* IE6-9 */    
}

a.home_url
{
    padding-left: 0.1em;
    text-decoration: none;
    color: #FFFFFF;
    text-shadow: 0.05em 0.05em #1C334B;
    font-weight: normal;
}

h1.page_title {
    font-size: x-large;
    color: #222244;
}



span.inline_code {
    font-family: monospace;
    font-size: large;
    background-color: #AACCFF;
}

/* List menu */

/* First level */
#nav_root {            
    
    height: 1.8em;
    line-height: 2.3em;            
    width: auto;
    margin-left: 12.5%;
}

#nav_root ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#nav_root li {    
    background: #000F2E;
    background: none repeat scroll 0% 0% #27568C;
    float: left;
    position: relative;
    /* border-radius: .3em; */
    width: 17%;   
    margin-right: 0.13em;
}

#nav_root a {                
    border-right: 1px solid #DDD;
    color: #EFEFEF;
    display: block;
    font-size: medium;
    text-decoration: none;
    height: 2.3em;
    overflow: hidden;
    text-align: center;
}

#nav_root a.nav_a_01.has_submenu:after {
    content: "▼";
    color: #AFAFAF;
    position: absolute;
    right: 0;
    padding-right: 0.5em;
}

#nav_root li:hover > a {
    border-right: 1px solid #DDD;
    background: #00297A;
    
    /* border-radius: .3em; */
    color: #fff;
}

#nav_root li:first-child a {
    border-left: none;    
}


/* Second level */

/* hidden second-level list */
#nav_root ul ul {
    opacity: 0;
    position: absolute;
    top: 2.29em;
    visibility: hidden;
    width: 100%; */
    opacity = 0;
    -moz-transition-property: opacity, visibility;
    -moz-transition-duration: .1s, .1s;
}


#nav_root ul li:hover ul {
    width: 100%;
    visibility: visible;
    opacity: 1;
}

/*
#nav_root ul li a:focus + ul {
    width: 100%;
    visibility: visible;
    opacity: 1;
} */

#nav_root ul ul li {
    background: #6685C2;
    float: none;    
    line-height: 0;
    width: 100%;
}


#nav_root ul ul li a {
    border-right: none;
    border-left: none;
    border-top: 1px solid #fff;
    color: #000;
    font-size: normal;
    height: 2.3em;
    line-height: 2.3em;
    padding: 0 0 0 5px;
    text-align: left;
}

#nav_root ul ul li a:hover {
    background: #B2C2E0;
    color: #000;
}

/* --- content --- */

div#content_div {
    background-color: #FFFFFF;
    border-radius: .3em;
    margin-left: 12.5%;
    margin-right: 12.5%;
    margin-bottom: -0.7em;
    border-radius: 0.2em;
}

/* footer */

div#footer
{
  font-family: serif;
  font-size : small;
  border-top: 1px solid #DDD;
  text-align: center;
  margin-left: 12.5%;
  margin-right: 12.5%;
  background-color: #FFFFFF;

}

/* other stuff */

.borderless_iframe {
    border: none;
    overflow:hidden;
}

.soundcloud_iframe{
    border: none;
    scrolling: none;
    width: 50%;
    height: 166px;
    z-index: 2;
}

img.creative_commons
{
    vertical-align: middle;
    border: 0;
}

a.cc_link {
    text-decoration: none;
}

.boldtext {
  font-weight: bold;
}

