<!-- Body part including navigation -->
<body>
    <!-- Header div. This is generated automatically -->
    <div id="header_div">
    </div>
    <!-- Navigation 'menu'. Generted automatically -->
    <nav id="nav_root">
    </nav>
    <!-- manin content div. This is filled in with the individual files
         in each (sub)directory in the main content directory -->
    <div id="content_div" class="content">
        <h1 class="page_title"></h1>
    </div>
    <!-- Footer. This is taken from the footer file in the static dir -->
    <div id="footer">
    </div>
</body>

