<!-- HTML for the footer - will be put in the "footer" class div -->
<p class="footerLeft">
<a class="cc_link" rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">
    <img
    class="creative_commons" alt="Creative Commons License"
    src="http://i.creativecommons.org/l/by-nc-sa/3.0/80x15.png"
    /></a><span> </span>Except where otherwise noted content on this site is licensed under a<br />
<a 
    rel="license"
    href="http://creativecommons.org/licenses/by-nc-sa/3.0/"
    title="Creative Commons Attribution-Noncommercial-Share Alike 3.0 Unported License">
    Creative Commons Attribution-Noncommercial-Share Alike 3.0 Unported License
</a>
<br />
<a href="http://validator.w3.org/check?uri=referer" title="Valid HTML5!">HTML5</a> -
    Made with <a href='https://gitorious.org/pytosta'>PytoSta</a>
  </p>
  
